p {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: lighter;
}
ul {
  list-style-type: circle;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
table {
  width: 100%;
}
table, th, td {
  border: 1px solid black;
} 
th, td {
  padding: 25px;
  text-align: left;
  background-color: #eee;
}
h3 {
  text-align: center;
}